@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a href="/Home/ActionThatLogs?flavor=cherry&amp;color=red&amp;text=Some+text">Action that logs</a></p>
</div>
